body{
    background-color: beige;
}
.move{
    margin-left: 5px;
    margin-top: 5px;
    font-size: larger;
}
.email{
    height: 40px;
    width: 300px;
    border-radius: 30px;
    margin-left: 50px;
}
.Phone-Numbers{
    height: 40px;
    width: 300px;
    border-radius: 30px;
    margin-left: 50px;
    
}
button{
    width: 150px;
    border-radius: 25px;
}
.container{
    width: 500px;
    height: 600px;
    position: relative;
    background: transparent ;
    backdrop-filter: blur(150px);
    padding: 5px;
    text-align: center;
    margin-left: 30%;
    justify-content: space-between; 
    margin-top: 300px;
}