body{
    background-color: beige;
}
.inputs-2{
    display: flex;
    justify-content: center;
}
.inputs-3{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
svg{
    color: gray;
}
.login{
    width: 500px;
    height: 600px;
    position: relative;
    background: transparent;
    backdrop-filter: blur(150px);
    padding: 5px;
    text-align: center;
    margin-left: 38%;
    justify-content: space-around;
    margin-top: 300px;
}
h1{
    text-align: center;
    
}
input{
    border-radius: 30px;
    height: 40px;
    width: 300px;

}
