body{
    background-image: url(https://images.pexels.com/photos/5627427/pexels-photo-5627427.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load);
   }
.inputs-2{
    display: flex;
    justify-content: center;
}
.inputs-3{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
svg{
    color: gray;
}
.login{
    width: 380px;
    height: 150px;
    position: relative;
    background: whitesmoke;
    padding: 5px;
    text-align: center;
    margin-left: 30%;
    justify-content: space-around;
}
h1{
    text-align: center;
    color: white;
}