.sign-up{
    background-image: url(background.jpg);
    width: 380px;
    height: 480px;
    position: relative;
    background: ;
    padding: 5px;
    text-align: center;
    margin-left: 30%;
    justify-content: space-around;
}
.inputs{
    display: flex;
    justify-content: center;
}
.inputs-2{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.inputs-3{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
svg{
    color: gray;
}
.check{
    margin-top: 10px;
}
.button{
    margin-top: 40px;
}
#s{
    width: 75px;
    height: 30px;
    background-color: blue;
    color: white;
}
