body{
    background-color: beige;
}
.sign-up{
    width: 500px;
    height: 600px;
    position: relative;
    background: transparent ;
    backdrop-filter: blur(150px);
    padding: 5px;
    text-align: center;
    margin-left: 30%;
    justify-content: space-around;
    margin-top: 300px;
}
.inputs{
    display: flex;
    justify-content: center;
}
.inputs-2{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.inputs-3{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
svg{
    color: gray;
}
.check{
    margin-top: 10px;
    
}
.button{
    margin-top: 40px;
}
#s{
    width: 75px;
    height: 30px;
    background-color: blue;
}

input{
    border-radius: 30px;
    height: 40px;
    width: 300px;
}
#tick{
    width: 20px;
}
