body{
    background-image: url(https://images.pexels.com/photos/2088210/pexels-photo-2088210.jpeg?auto=compress&cs=tinysrgb&w=600);
}
hr{
    width: 20%;
}
.regis{
    background-color: beige;
}
.surname{
    margin-top: 4px;
}
.phone{
    margin-top: 4px;
}
.email{
    margin-top: 4px;
}
.gen{
    display: flex;
    justify-content: center;
     
}
.street name{
    margin-top: 4px;
}
.street# {
    margin-top: 4px;
}
.area name{
    margin-top: 4px;
}
.area code{
    margin-top: 5px;
}
.nam{
    display: flex;
    justify-content: space-around;
    
}
#p{
    text-align: center;
    background-color: aqua;
}
.phon{
    display: flex;
    justify-content:space-around
}
.add{
    display: flex;
}
select{
    justify-content: center;
}
.button{
    background-color: blue;
    color: white;
    width: 99px;
    height: 25px;
    
    
}
a{
    text-decoration: none;
}
